.us-container {
  background-color: rgb(218, 232, 252);
  border: rgb(146, 172, 209) 1px solid;
  width: 55rem;
  height: 100%;
  margin: 3%;
  padding: 2%;
}
.container-sub-us {
  display: flex;
  flex-direction: row;
  width: 50rem;
  height: 100%;
  gap: 20px;
  padding: 2%;
}
